<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/styleLogout.css" type="text/css">
		<link
		    href="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
		    rel="stylesheet" type="text/css">
		<link
		    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
		    rel="stylesheet" type="text/css">

		<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
		<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>

	</head>
	<body>
		<H1>Sistema de monitoreo DAS</H1>

		<h2>Usted se ha desconectado.</h2>
		<ul class="nav navbar-nav navbar-right">
		      <li style="float: center"><a href="/">Conectarse</a></li>
		</ul>

	</body>
</html>